.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('gif4.gif') 50% 50% no-repeat rgb(249,249,249);
}

#load{
    width:100%;
    height:100%;
    position:fixed;
    z-index:9999;
    background:url('gif4.gif') no-repeat center center rgba(0,0,0,0.25)
}
#loadingDiv{
    width:100%;
    height:100%;
    position:fixed;
    z-index:9999;
    background:url('gif4.gif') no-repeat center center rgba(0,0,0,0.25)
}